<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>
		<th:block layout:fragment="f-title">demo</th:block>
	</title>
	<th:block th:insert="cmm/block :: f-header"></th:block>
</head>
<body>
	<header>
		<h1>
			<a th:href="@{/v}"><img th:src="@{/static/img/like.png}" width="50" height="auto" alt="demo page" id="btn_home" /></a>
		</h1>
		<ul>
			<li sec:authorize="isAuthenticated()">
				<span sec:authentication="principal.username"></span> 님 반가워요!
			</li>
			<li><a th:href="@{/swagger-ui.html}" target="_blank"><img th:src="@{/static/img/swagger.png}" width="20" alt="swagger-ui page" id="btn-swagger" /></a></li>
			<li><form id="logoutFrm" th:action="@{/logout}" method="post" style="display: inline-block;">
					<a href="#" onclick="document.getElementById('logoutFrm').submit()" data-toggle="tooltip" data-placement="logout" title="Logout"><i class="fa fa-power-off"></i></a>
				</form></li>
		</ul>
	</header>
	<nav class="navbar navbar-expand-lg navbar-light" id="nav_area">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_menu_area" style="margin: 3px;">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="nav_menu_area">
			<ul class="navbar-nav" id="nav_menu" style="margin: 0 auto; width: 1140px;">
				<li class='nav-item'  th:classappend="${currentPage eq 'home'} ? 'active' : ''" th:attr="data-href=@{/v}">홈</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" class='nav-item' th:classappend="${currentPage eq 'user'} ? 'active' : ''" th:attr="data-href=@{/v/users}">회원</li>
				<li class='nav-item' th:classappend="${currentPage eq 'store'} ? 'active' : ''" th:attr="data-href=@{/v/stores}">가맹점</li>
			</ul>
		</div>
	</nav>
	<section layout:fragment="f-content"></section>
	<footer>
		<p>
			JINI WORLD - DEMO
		</p>
	</footer>
	
	<th:block th:insert="cmm/block :: f-footer"></th:block>
	<th:block layout:fragment="f-script"></th:block>
</body>
</html>