<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="cmm/layout">

<th:block layout:fragment="f-title">user 조회</th:block>

<section layout:fragment="f-content">
	<div class="container">
		<div class="d-title">
			<h2>user 조회</h2>
		</div>
		<div class="d-content">
			<div class="row">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr class="text-center">
								<th width="10%">아이디</th>
								<th width="6%">유형</th>
								<th width="10%">이름</th>
								<th width="15%">전화번호</th>
								<th width="10%">생일</th>
								<th width="7%">성별</th>
								<th width="25%">가입일시</th>
								<th width="7%">탈퇴여부</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" th:object="${user}" th:each="user: ${users}" th:attr="data-href=@{/v/users/__${user.id}__}">
								<td th:text="*{ id }"></td>
								<td th:text="*{ type eq '0' ? '일반' : type eq '1' ? '사업자' : '미설정' }"></td>
								<td th:text="*{ name }"></td>
								<td th:text="*{ phoneNumber }"></td>
								<td th:text="*{ birthDate }"></td>
								<td th:text="*{ sex eq '1' ? '남자' : sex eq '2' ? '여자' : '미설정' }"></td>
								<td th:text="*{ createTimestamp }"></td>
								<td th:text="*{ del ? 'Y' : 'N' }"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="f-script">

</th:block>